@import 'variables';

.container {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  min-height: 500px;
}

.main-nav {
  // background-color: $primary-color;
  padding: 20px 0;
}

.banner-image {
  background: url('../img/banner-image-gs.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay {
  background-color: rgba(6,17,26,0.9);
  min-height: 400px;
  text-align: center;
}

.time-container {
  display: inline-block;
  max-width: 340px;
  margin: 0 10px;
  border: 1px solid $secondary-color;
  border-radius: 3px;
  padding: 20px 0;
  background-color: rgba(240, 240, 240, 0.6);
  box-shadow: 3px 3px 5px 0px $main-font;

  h1 {
    margin: 20px;
  }
}

.headline-container {
  max-width: 340px;
  padding: 20px 50px;
  text-align: left;
  color: $secondary-color;
}

.leaderboard {
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  width: 30%;
  text-align: left;

  h3 {
    text-align: center;
  }
}

.leaderboard-item:last-child {
  margin-bottom: 18px;
}

.leaderboard-col {
  box-sizing: border-box;
  display: inline-block;
  margin: 5px 0;
}

.leaderboard-col-position {
  width: 10%;
  margin-left: 20px;
}

.leaderboard-col-name {
  width: 70%;
}

.leaderboard-col-score {
  width: 10%;
}

.kataboard {
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  width: 50%;
  text-align: left;

  h3 {
    text-align: center;
  }
}

.kataboard-item:last-child {
  margin-bottom: 18px;
}

.kataboard-col {
  box-sizing: border-box;
  display: inline-block;
  margin: 5px 0;
}

.kataboard-col-position {
  width: 10%;
  margin-left: 20px;
}

.kataboard-col-name {
  width: 70%;
}

.kataboard-col-score {
  width: 10%;
}

.primary-button {
  display: inline-block;
  font-family: 'Overpass Mono', monospace;
  font-size: 1.5em;
  color: $secondary-color;
  background-color: $primary-color;
  min-width: 200px;
  padding: 8px;
  // border: 1px solid $secondary-color;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 0px $main-font;

  a {
    color: $secondary-color;
  }
}

.primary-button:active {
  position: relative;
  top: 1px;
  box-shadow: 1px 1px 1px 0px $main-font;
}

.secondary-button {
  font-family: 'Overpass Mono', monospace;
  font-size: 1.5em;
  color: $secondary-color;
  background-color: rgba(238, 238, 238, 0.4);
  min-width: 200px;
  border: 1px solid $secondary-color;
  border-radius: 3px;
  padding: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 3px 0px $main-font;
}

.secondary-button:active {
  box-shadow: 2px 2px 2px 0px $main-font;
}

footer {
  // background-color: $main-font;
  color: $secondary-color;
  padding: 5px 10px;
}
