@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500');

html {
  color: $main-font;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin: 0;
}

nav.main-nav {
  padding: 40px 0;
  h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 4em;
    color: $secondary-color;
  }
}

h2 {
  margin: 0;
}

a {
  color: $primary-color;
  text-decoration: none;
}
