@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500');


h1 {
  font-size: 3em;
  text-align: center;
  margin: 0;
}

.main-nav {
  h1 {
    font-family: 'Orbitron', sans-serif;
    color: #eee;
  }
}

h2 {
  margin: 0;
}

a {
  color: #479;
  text-decoration: none;
}
