@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 4em;
  text-align: center;
  color: #fff;
  margin: 0;
}

.time-container {
  h1 {
    font-family: 'Cutive Mono';
  }
}

h2 {
  margin: 0;
}
