@import 'fonts';
@import 'components';
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');
@import url('https://fonts.googleapis.com/css?family=Muli:200,300');

html {
	font-family: 'Muli', sans-serif;
	// font-family: 'Overpass Mono', monospace;
  font-weight: 300;
}
body {
	padding: 0;
	margin: 0;
}

h1, h2 {
  font-weight: 200;
}

.alignment-container {
  width: 100%;
}

img.img-right {
  width: 300px;
  float: right;
}


/* Media Queries */

@media screen and (min-width: 900px) {
  .container {
    max-width: 80%;
  }
  .time-container {
    position: absolute;
    right: 20px;
  }
  .headline-container {
    margin-right: 350px;
  }
}
