@import 'fonts';
@import 'components';
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

html {
	font-family: 'Overpass Mono', monospace;
	color: #eee;
}
body {
	padding: 0;
	margin: 0;
}
