$dark-gray1: #303132;
$dark-gray2: #222325;
$dark-gray3: #262729;
$dark-gray4: #303133;
$dark-gray5: #3C3C3C;

@import "~@blueprintjs/core/src/blueprint.scss";

html {
  font-family: 'Muli', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-weight: 200;
}